.cert-col-l {
	background: #b5752e;
	margin-right: -100px;
	padding: 120px 50px 50px 120px;
	color: #fff;
	position: relative;
	border-radius: 0 50px 50px 0;

	@media (max-width: #{$screen-sm-min}) {
		margin-left: 0;
		border-radius: 0;
		padding: 20px;
		grid-row: 2;
		max-width: 100%;
	}
}

.cert-col-img-wrapper {
	background-color: #e4e4e4;
	justify-content: center;
	padding: 50px 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	row-gap: 40px;
	div {
		img {
			margin: 0 40px;
		}
	}
	@media (max-width: #{$screen-sm-min}) {
		padding: 120px 20px;
	}
}
