.egk-col-l {
	background: #864735;
	margin-right: -100px;
	padding: 120px 50px 50px 120px;
	color: #fff;
	position: relative;
	border-radius: 0 50px 50px 0;
}

.egk-img {
	background: url("../assets/1x/egk-img.png") center no-repeat;
	background-size: cover;
	min-height: 600px;
}
