.egk-col-l {
	background: #864735;
	margin-right: -100px;
	padding: 120px 50px 50px 120px;
	color: #fff;
	position: relative;
	border-radius: 0 50px 50px 0;
	@media (max-width: #{$screen-sm-min}) {
		margin-left: 0;
		border-radius: 0;
		padding: 20px;
		width: 100%;
		& ~ div {
			grid-row: 1;
		}
	}
}

.egk-img {
	background: url("../assets/1x/egk-img.png") center no-repeat;
	background-size: cover;
	min-height: 600px;
}
